
/* sidenav */
#sidenav .background {
    position: absolute; /* 相对于浏览器窗口定位它们 */
    left: -180px; /* 将它们放在屏幕之外 */
    top: 0; /* 顶部对齐 */
    transition: 0.5s; /* 在悬停时添加过渡 */
    transition-timing-function: cubic-bezier(0.115, 0.675, 0.400, 0.940); /* 过渡效果 */
    padding: 15px; /* 15px 内边距 */
    width: 200px; /* 设置特定宽度 */
    height: 100%; 
    text-decoration: none; /* 删除下划线 */
    font-size: 15px; /* 增加字体大小 */
    color: white; /* 白色文本颜色 */
    background:linear-gradient(45deg, black, rgb(155, 172, 204));
}

#sidenav .background:hover {
    left: 0; /* 鼠标悬停时，使元素按应有的方式显示 */
}

#sidenav .background .menu li {
    list-style: none; /* 删除列表标记 */
}

#sidenav .background .menu a{
    display: block; /* 显示块级元素 */
    padding: 10px; /* 10px 内边距 */
    margin: 10px; /* 10px 外边距 */
    border-radius: 5px; /* 5px 边框半径 */
    background: rgba(0, 0, 0, 0.5); /* 透明度为 0.5 的黑色背景 */
    color: white; /* 白色文本颜色 */
    text-align: center; /* 文本居中 */
    text-decoration: none; /* 删除下划线 */
}

.page-background {
    position: fixed; /* 固定定位 */
    left: 0; /* 左侧对齐 */
    top: 0; /* 顶部对齐 */
    width: 100%; /* 宽度 100% */
    height: 100%; /* 高度 100% */
    background-color: #e7ebf5; /* 背景颜色 */
    z-index: -1; /* z-index 属性 */
    border: none; /* 无边框 */
}
