<div id = "sidenav">
    <div class = "background">
        <div class = "title">
            <h2>刀柄</h2>                
        </div>
        <div class = "menu">
            <ul>
                <li><a href = "./index.html">设定集</a>
                    <ul class = "innerlist">
                        <li><a href = "./index.html">人物设定</a></li>
                        <li><a href = "./index.html">世界观简介</a></li>
                        <li><a href = "./index.html">剧情简介</a></li>
                    </ul>
                </li>
                <li><a href = "./index.html">作品集</a>
                    <ul class = "innerlist">
                        <li><a href = "./index.html">文章</a>
                        <li><a href = "./index.html">画廊</a>
                    </ul>
                </li>
                <li><a href = "./index.html">衍生系列</a>
                    <ul class = "innerlist">
                        <li><a href = "./index.html">废城录</a>
                        <li><a href = "./index.html">深堑地记事</a>
                    </ul>
                </li>
            </ul>
        </div>
        <div class = "info">

        </div>
        <div class = "footer">
            <!-- <p>©2021 KidsDreaming</p> -->
        </div>
    </div>
</div>